body {
	margin:0;
	text-align:center;
}

.logo {
	width:200px;
	height:200px;
	margin:50px 0 30px 0;
}

.input input{
	width: 300px;
	height: 20px;
	margin: 5px 0;
	border:1px solid #000000;
	border-radius: 4px;
	outline: none;
}

.submit-btn {
	width: 100px;
	height: 30px;
	margin-top: 30px;
	padding: 0;
	border: none;
	border-radius: 4px;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}